[
  {
    "name": "Vientiane (neutral IXP)",
    "server": "https://speedtest.example.la/",
    "id": 1,
    "dlURL": "garbage.php",
    "ulURL": "empty.php",
    "pingURL": "empty.php",
    "getIpURL": "getIP.php",
    "telemetryURL": "results/telemetry.php"
  }
]
